@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}

h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

p{
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 20px;
	color: #a9a9a9;
}

.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #fb2274;
    color: #fb2274;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

.main_container{
	position: relative;
}

.navbar{
	width: 100%;
	height: 65px;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 5;
    
}
.navbar.black {
	background: rgba(0,0,0,.5);
}
.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #fb2274;
	font-weight: 600px;
}

.navbar_items ul{
	display: flex;
}

.navbar_items ul li{
    margin: 0 10px;
    display: inline-block;
}

.navbar_items ul li a{
	text-transform: uppercase;
    color: #000;
    transition: .5s;
}
.navbar.black ul li a {
	color: #fff;
	line-height: 60px;

}
.navbar-items ul li:active a,
.navbar-items ul li:hover a {
    color: rgb(255, 2, 2);
    background: rgb(0, 0, 0);
    opacity: .65;
}
.navbar.black .logo {
	font-size: 40px;

}

.banner_image{
	background: url('image/background.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.banner_content{
	text-align: center;
	color: #fff;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 15px;
}

.banner_content h1 span{
	color: #fb2274;
}


.about,
.services,
.contactus,
.ourteam{
	text-align: center;
	padding: 5% 10%;
}

/* Services */
.services{
	background: #f5f5f5;
}

.diff_services {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_services .diff_services_item {
    width: 30%;
}

.diff_services .diff_services_item img {
    width: 100%;
    margin-bottom: 25px;
}

.diff_services .diff_services_item h3 {
    color: #fb2274;
    margin-bottom: 15px;
}

.form_wrapper .form_input{
	margin-bottom: 15px;
}

.form_wrapper .form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px; 
	border: 1px solid #ccc;
}

.form_wrapper .form_input textarea{
	width: 250px;
	padding: 12px 20px; 
	height: 80px;
	resize: none;
	border: 1px solid  #ccc;
}

.ourteam{
	background: #f5f5f5;
	z-index: 4;
}

.ourteam_wrapper{
	display: flex;
	flex-direction: column;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .members{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.ourteam_wrapper .members img{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .members:hover img{
	transform: scale(1.1);
}

.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}


html {
	box-sizing: border-box;
	background: #f3f3f3;
}


@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}


.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #fb2274;
	border-radius: 50%;
	display: none;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 80px;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 80%;
	}
	footer .copyright {
		text-align: left;
	}
	.fa:hover {
		opacity: 0.7;
	}
	
	.fa-facebook {
	  background: #3B5998;
	  color: white;
	}
	
	.fa-twitter {
	  background: #55ACEE;
	  color: white;
	}
	
	.fa-google {
	  background: #dd4b39;
	  color: white;
	}
	
	.fa-linkedin {
	  background: #007bb5;
	  color: white;
	}
	
	.fa-youtube {
	  background: #bb0000;
	  color: white;
	}
	
	.fa-instagram {
	  background: #125688;
	  color: white;
	}
	
	.fa-pinterest {
	  background: #cb2027;
	  color: white;
	}
	
	.fa-tumblr {
	  background: #2c4762;
	  color: white;
	}
